<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th> ID</th>
            <th> Username</th>
            <th> First Name</th>
            <th> SecondName</th>
            <th> Age</th>

        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getUsername()}">...</td>
            <td th:utext="${user.getFirstName()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td th:utext="${user.getAge()}">...</td>

            <td>
                <form th:action="@{/admin/edit}">
                    <button type="submit" th:name="id" th:value="${user.id}">Edit</button>
                </form>
            </td>
            </form>
            <td>
                <form th:action="@{/admin/delete}">
                    <button type="submit" th:name="id" th:value="${user.id}">Delete</button>
                </form>
            </td>
        </tr>
    </table>

    <br>

    <input type="button" value="Add new User"
           onclick="window.location.href = '/admin/new'">

    <br>

    <input type="button" value="Logout"
           onclick="window.location.href = '/logout'">


</div>
</body>
</html>